/* Basic Reset & Defaults */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, picture {
    display: block;
}
math {
    font: inherit;
    text-align: left;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
abbr {
    text-decoration: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
i, cite {
    font-style: italic;
}
b, strong, dfn {
    font-weight: bold;
}

.nowrap {
    white-space: nowrap;
}

.mob {
    display: none;
}

/* main styles */
body {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 400;
    background-color: #000000;
    color: #e0e0e0;
    line-height: 1.6;
    padding-top: 223px;
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    max-width: 1194px;
    margin: 0 auto;
    padding: 0 3px;
}

a {
    color: #e0e0e0;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #ffffff;
}

.button {
    background: none;
    color: #F9BD00;
    padding: 12px 25px;
    border: 1px solid #F9BD00;
    border-radius: 35px;
    font-family: "Manrope", sans-serif;
    font-size: 32px;
    font-weight: 300;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    width: 195px;
    height: 70px;
}

.button:hover {
    background-color: #F9BD00;
    color: #ffffff;
}


/* Header */
.site-header {
    background-color: rgba(24, 24, 24, 0.8);
    position: fixed;
    width: 100%;
    max-width: 1440px;
    padding-bottom: 27px;
    top: 0;
    z-index: 1000;
    overflow: hidden;
    transition: background-color 0.3s ease, padding 0.3s ease;
}

.site-header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 0;
    transition: padding 0.3s ease;
    position: relative;
}

.logo {
    display: block;
    margin-bottom: 17px;
    width: 234px;
    height: 102px;
    transition: opacity 0.3s ease, height 0.3s ease, margin 0.3s ease, transform 0.3s ease;
    transform: translateY(0);
}

.logo img {
    width: 234px;
    height: 102px;
}

.navigation-wrapper {
    width: 100%;
    transition: border 0.3s ease;
}

.main-navigation {
    width: 100%;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 0;
    transition: border 0.3s ease, margin 0.3s ease;
    margin-top: 14px;
}

.main-navigation ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    width: 100%;
}

.main-navigation a {
    font-size: 16px;
    text-transform: uppercase;
    padding: 5px 0;
}

.main-navigation a:hover {
    color: #aaaaaa;
}

a.no-transform {
    text-transform: none;
}

.main-navigation a.active {
    color: #F9BD00;
}

.main-navigation .shopping-cart {
    background: none;
    border: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: block;
}

.burger-menu {
    display: none;
    background: none;
    border: none;
    padding: 10px 1px 26px 10px;
    cursor: pointer;
    z-index: 1010;
}

.burger-line {
    display: block;
    width: 34px;
    height: 5px;
    background-color: #ffffff;
    margin: 7px 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    border-radius: 5px;
}

.burger-menu:hover .burger-line {
    background-color: #aaaaaa;
}

.site-header.scrolled {
    background-color: rgba(24, 24, 24, 0.95);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.site-header.scrolled .container {
    padding-top: 0;   
    padding-bottom: 0;
}

.site-header.scrolled .logo {
    opacity: 0;
    height: 0;
    margin-bottom: 0;
    transform: translateY(-20px);
    pointer-events: none;
}

.site-header.scrolled .main-navigation {
    padding-bottom: 0;
}

.site-header.scrolled .main-navigation ul {
    padding: 5px 0;
}

body:has(> header.site-header.scrolled) {
    padding-top: 110px;
}

main {
    background-color: #ffffff;
}

/* Hero Section */
body.home main {
    background: url(../img/main_page_bg.png) no-repeat center top;
}

.hero-section {
    padding-bottom: 130px;
    display: flex;
    align-items: start;
    position: relative;
    top: 20px;
}

.hero-content {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 110px;
    position: relative;
    z-index: 2;
    left: 100px;
}

.hero-text {
    text-align: center;
    margin-bottom: 55px;
}

.hero-text h1 {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 25px;
    font-weight: bold;
}

.about-section {
    padding: 130px 0 37px 0;
}

h2.about-section-title {
    font-size: 36px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 40px;
}

.about-slider-container {
    position: relative;
    max-width: 1194px;
    margin: 0 auto;
}

.about-slider-container span {
    font-weight: 500;
}

.about-slider {
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.slider-wrapper {
    overflow: hidden;
    margin-left: 66px;
}

.slider-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide-item {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 20px;
    box-sizing: border-box;
}

.slide-text-content {
    flex-basis: 51%;
}

.slide-text-content p {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 30px;
    line-height: 1.4;
}
.slide-text-content p:last-child {
    margin-bottom: 0;
}
.slide-text-content strong {
    color: #ffffff;
    font-weight: 600;
}


.slide-image-content {
    flex-basis: 40%;
    text-align: center;
}

.slide-image-content img {
    height: auto;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 9px;
    left: -50px;
}

.slider-button {
    position: absolute;
    top: 45%;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s ease;
    width: 16px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.slider-button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.slider-button.prev {
    left: 37px;
    background: url(../img/prev.png) no-repeat;
}

.slider-button.next {
    right: 33px;
    background: url(../img/next.png) no-repeat;
}

/* Footer */
.site-footer {
    background-color: #111;
    padding: 50px 0 20px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
    border-top: 1px solid #ffffff;
    padding-top: 16px;
}

.footer-column {
    flex: 1;
    min-width: 180px;
}

.footer-column h3,
.contact-info h3 {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 5px;
    font-weight: bold;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.footer-column ul li a:hover {
    color: #aaaaaa;
}

.footer-column p,
.contact-info p {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 10px;
}

.social-links {
    display: flex;
    align-items: center;
    gap: 9px;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    list-style-type: none;
}

.social-links li {
    line-height: 0;
}

.social-links a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.social-links a:hover {
    color: #ffffff;
    opacity: 0.75;
}

.social-links a img {
    display: block;
    filter: brightness(0) invert(1);
    transition: opacity 0.3s ease;
}

.social-links a img.telegram {
    width: 22px;
    height: 22px;
}

.social-links a img.youtube {
    width: 24px;
    height: 24px;
}

.social-links a img.facebook {
    width: 22px;
    height: 22px;
}

.social-links a img.tiktok {
    width: 29px;
    height: 29px;
}

.social-links a img.instagram {
    width: 30px;
    height: 30px;
}

.social-links a:hover img {
    opacity: 0.75;
}

.phone-note {
    display: block;
    font-size: 10px;
    color: #ffffff;
    font-weight: 300;
    line-height: 8px;
}

p.phone-number {
    margin-bottom: 15px;
}

.footer-column .button.button-contact,
.contact-info .button.button-contact {
    display: inline-flex;
    background-color: #183221;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    padding: 0;
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    cursor: pointer;
    width: 143px;
    height: 28px;
    transition: background-color 0.3s ease, color 0.3s ease;
    letter-spacing: 0.025em;
    justify-content: center;
    align-items: center;
}

.footer-column .button.button-contact:hover {
    background-color: #ffffff;
    color: #111111;
}


.footer-bottom {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border-top: 1px solid rgba(255, 255, 255, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.85rem;
    color: #777;
    flex-wrap: wrap;
}

.payment-icons {
    display: flex;
    gap: 35px;
    align-items: center;
}

.payment-icons .visa {
    width: 75px;
    height: auto;
}

.payment-icons .mastercard {
    width: 52px;
    height: auto;
}

/* ===== PRODUCT PAGE STYLES ===== */
.product-page {
    color: #000;
    font-size: 16px;
}

/* 1. page navigation */
.page-nav {
    padding-top: 21px;
}
.page-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.page-nav li {
    margin-right: 8px;
}
.page-nav li:not(:last-child)::after {
    content: '>';
    margin-left: 8px;
    color: #888;
}
.page-nav a {
    color: #000;
    text-decoration: none;
}
.page-nav a:hover {
    text-decoration: underline;
}
.page-nav span {
    color: #B4B4B4;
}

/* 2. product block */
.product-main-info {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 81px;
    margin-bottom: 97px;
}

.product-image-gallery {
    flex: 1 1 45%;
    max-width: 432px;
    padding: 0 0 0 21px;
    border-right: 1px solid rgba(204, 204, 204, 0.6);
}
.product-image-gallery img {
    max-width: 85%;
    height: auto;
    display: block;
}

.product-details {
    flex: 1 1 50%;
}

.product-title {
    font-size: 40px;
    margin-bottom: 35px;
    font-weight: 500;
    line-height: 1.35em;
    color: #000000;
}

.product-price-actions {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
    border-top: 1px solid rgba(204, 204, 204, 0.6);
    border-bottom: 1px solid rgba(204, 204, 204, 0.6);
    padding: 32px 16px;
    flex-wrap: wrap;
}
.product-price {
    font-size: 24px;
    font-weight: 500;
}
.product-quantity {
    display: flex;
    align-items: center;
    column-gap: 9px;
}
.product-quantity input {
    width: 16px;
    text-align: center;
    border: none;
    padding: 0;
    background-color: #fff;
    font-size: 16px;
    font-family: "Manrope", sans-serif;
}
.product-quantity .quantity-button {
    background-color: #fff;
    border: 1px solid #E2E2E2;
    padding-bottom: 3px;
    cursor: pointer;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    font-size: 22px;
    align-items: center;
    width: 28px;
    height: 28px;
    outline: none;
}
.product-quantity .quantity-button:hover {
    border-color: #000;
}

.quantity-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.add-to-cart-button {
    background-color: #F9BD00;
    color: #fff;
    border: none;
    padding: 2px 16px 4px 16px;
    font-family: "Manrope", sans-serif;
    font-size: 24px;
    font-weight: 300;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    line-height: 1.3em;
}
.add-to-cart-button:hover {
    background-color: #000;
}

.product-characteristics {}
.product-characteristics h2 {
    font-size: 24px;
    margin-bottom: 68px;
    font-weight: 500;
}
.product-characteristics ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}
.product-characteristics li {
    font-size: 16px;
}

ul.characteristics-dots {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid rgba(204, 204, 204, 0.6);
}

ul.characteristics-dots li {
    border-right: 1px solid rgba(204, 204, 204, 0.6);
    flex-basis: 25%;
    padding-bottom: 7px;
    box-sizing: border-box;
}

ul.characteristics-dots li:last-child {
    border-right: none;
}

ul.characteristics-dots li strong {
    font-weight: 400;
}
.char-dots {
    font-weight: bold;
    letter-spacing: -7px;
    font-size: 28px;
    line-height: 18px;
    margin-left: -5px;
}
.char-dots .light {
    color: #d9d9d9;
}

ul.characteristics-list {
    grid-template-rows: repeat(6, auto);
    grid-auto-flow: column;
}

ul.characteristics-list li {
    display: flex;
    align-items: flex-start;
    padding: 15px 0;
    break-inside: avoid-column;
    word-break: break-word;
    overflow-wrap: break-word;
}

ul.characteristics-list li:nth-child(1),
ul.characteristics-list li:nth-child(7) {
    padding-top: 30px;
}
ul.characteristics-list li:nth-child(-n + 6) {
    border-right: 1px solid rgba(204, 204, 204, 0.6);
    border-left: 1px solid #fff;
}
ul.characteristics-list li:last-child {
    padding-bottom: 35px;
}

ul.characteristics-list li strong {
    font-weight: 200;
    flex: 0 0 54%;
    box-sizing: border-box;
}

/* 3. product description */
.product-description {
    padding-bottom: 35px;
}
.product-description h2 {
    font-size: 36px;
    margin-bottom: 64px;
    font-weight: 500;
    text-align: center;
}
.product-description p {
    font-size: 20px;
    line-height: 1.35em;
    margin-bottom: 25px;
}
.product-description p:last-child {
    margin-bottom: 0;
}
.product-description strong {
    font-weight: bold;
}

/* === payment and delivery === */
.text-content-section {
    font-size: 24px;
    color: #000;
    margin-top: 35px;
}

.section-title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.payment-methods-grid {
    margin-top: 74px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    border-top: 1px solid rgba(204, 204, 204, 0.6);
}

.payment-method-item {
    padding: 54px 0 40px 139px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(204, 204, 204, 0.6);
    align-content: center;
}

.payment-methods-grid .payment-method-item:nth-child(odd) {
    border-right: 1px solid rgba(204, 204, 204, 0.6);
    padding-left: 0;
    padding-right: 139px;
}

.payment-method-icon {
    margin-bottom: 15px;
    text-align: left;
}

.payment-methods-grid .payment-method-item:nth-child(odd) .payment-method-icon {
    margin-bottom: 0;
}

.payment-method-icon img {
    width: 65px;
    height: auto;
}

.payment-method-icon img[alt*="Google Pay"] {
    width: 145px;
    height: auto;
}
.payment-method-icon img[alt*="Apple Pay"] {
    width: 139px;
    height: auto;
}

.payment-method-title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
}

.payment-method-description {
    font-size: 24px;
    line-height: 1.4em;
    font-weight: 200;
}

.delivery-section {
    padding-bottom: 104px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.6);
}

.delivery-info {
    text-align: left;
}

.delivery-info p {
    font-weight: 200;
    line-height: 1.4em;
}

.help-section {
    text-align: center;
    font-weight: 300;
    padding-bottom: 108px;
}

.help-section p {
    line-height: 1.35em;
}

.help-link {
    font-weight: bold;
    color: #000;
    text-decoration: none;
}
.help-link:hover {
    color: #000;
    text-decoration: underline;
}

/* === about contacts === */
.about-page .page-nav {
    margin-bottom: 28px;
}

.about-page .section-title {
    color: #000000;
}

.about-page p {
    font-weight: 200;
    font-size: 24px;
    line-height: 1.35em;
    margin-top: 35px;
}

/* --- section 1 --- */
.about-hero-section {
    background-image: url('../img/about-plantation-bg.png');
    background-size: cover;
    background-position: left top;
    padding: 28px 0;
    color: #ffffff;
}

.about-hero-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.about-hero-text {
    flex: 0 0 45%;
    padding-right: 30px;
    box-sizing: border-box;
}

.about-hero-text p:last-child {
    margin-bottom: 0;
}

.about-hero-content .slider-wrapper {
    position: relative;
    flex: 1 1 48%;
     max-width: 380px;
    margin-left: 0;
    margin-right: 45px;
    overflow: hidden;
}

.about-hero-content .slider-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.about-hero-content .slide-item {
    width: 100%;
    flex-shrink: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-hero-content .slide-image-content {
    text-align: center;
    flex-basis: auto;
     max-width: 280px;
}

.about-hero-content .slide-image-content img {
    max-width: 100%;
    height: auto;
    position: static;
    display: block;
    margin: 0 auto;
}

.about-hero-content .slider-button.prev {
    left: 0;
}

.about-hero-content .slider-button.next {
    right: 9px;
}

/* --- section 2: --- */
.about-values-section {
    padding: 28px 0 42px 0;
}

.about-values-section .section-title {
    margin-bottom: 80px;
}

.value-item {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 24px 0 29px 0;
    border-top: 1px solid rgba(204, 204, 204, 0.6)
}

.value-item .value-text {
    flex: 1;
    flex-basis: 39%;
    order: 1;
}

.value-item .value-image {
    flex: 1;
    flex-basis: 61%;
    order: 2;
}

.value-item.layout-reversed .value-text {
    order: 2;
}

.value-item.layout-reversed .value-image {
    order: 1;
}

.value-item h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.35em;
}

.value-item p {
    font-weight: 300;
}

.value-item .value-image img {
    width: 100%;
    height: auto;
    display: block;
}

/* --- section 3: contacts --- */
.contact-section {
    padding: 17px 0 50px 0;
    background-color: #181818;
    color: #fff;
}

.contact-section .section-title {
    font-size: 32px;
    color: #fff;
    font-weight: 500;
}

.contact-details-grid {
    display: flex;
    column-gap: 90px;
    margin: 0 auto;
    align-items: start;
    max-width: max-content;
}

.contact-info {
    color: #fff;
}

.contact-info p {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 10px;
}

.contact-info .button.button-contact {
    margin-top: 15px;
    background-color: #fff;
    color: #111;
}

.contact-info .button.button-contact:hover {
    background-color: #183221;
    color: #fff;
}

/* --- section 4 --- */
.about-closing-image-section {
    margin-top: 0;
    line-height: 0;
}

.about-closing-image-section img {
    width: 100%;
    height: auto;
    display: block;
}

/* === shopping cart === */
.shopping-cart .text-content-section {
    margin-top: 50px;
}

.shopping-cart h1 {
    text-align: center;
    margin-bottom: 48px;
}

.shopping-cart-container {
    border-top: 2px solid rgba(204, 204, 204, 0.6);
    border-bottom: 1px solid rgba(204, 204, 204, 0.6);
    padding: 40px 0;
}

.shopping-cart-details, .total-price {
    margin: 0 auto;
    width: max-content;
}

.shopping-cart-details {
    position: relative;
    display: flex;
}

.shopping-cart-details #delete-product {
    position: absolute;
    line-height: 0.6;
    color: #000;
    top: 0;
    left: -45px;
    font-size: 22px;
    font-weight: 300;
    cursor: pointer;
}
.shopping-cart-details #delete-product:hover {
    font-weight: 500;
}

.product-image-container {
    width: 145px;
}

.product-image-container img {
    width: 100%;
    display: block;
}

.shopping-cart-container h2 {
    font-size: 24px;
    font-weight: 300;
    margin-top: 10px;
}

.shopping-cart-details .m-left {
    margin-left: 37px;
}

.shopping-cart-details .product-price-actions {
    border: none;
    gap: 45px;
    margin-bottom: 0;
    padding: 55px 5px;
}

.shopping-actions {
    display: flex;
    column-gap: 15px;
    row-gap: 40px;
}

.shopping-actions button {
    padding: 2px 16px 4px 16px;
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    font-weight: 400;
    border-radius: 35px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    line-height: 1.3em;
}

.shopping-actions button:hover {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

.buy-button {
    background-color: #F9BD00;
    color: #fff;
    border: 1px solid #F9BD00;
}
.continue-button {
    background-color: #FFF;
    color: #000;
    border: 1px solid #ccc;
}

.total-price {
    padding: 26px 0 47px 0;
}

.total-price p {
    border-bottom: 1px solid rgba(204, 204, 204, 0.6);
    font-weight: 300;
}

.cart-message {
    min-height: 60vh;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 15vh;
}

.cart-message h2 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 3rem;
}

.cart-message p {
    font-size: 24px;
    font-weight: 300;
    padding: 0 1rem;
    line-height: 1.4em;
}

/* order form */
.order-details.text-content-section {
    padding-bottom: 100px;
}

.order-form-container {
    max-width: 825px;
    margin: 2rem auto 0 auto;
    padding: 1rem 3rem 2rem 2rem;
    background: #fff;
    border: 1px solid rgba(204, 204, 204, 0.6);
}

.form-section {
    margin-bottom: 2.5rem;
}

.form-section h2 {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 1.5rem;
    text-align: left;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin-bottom: 2.25rem;
}

.form-row.m-less {
    margin-bottom: 1.25rem;
}

.form-section:last-of-type, .form-row:last-child {
    margin-bottom: 1.9rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-label {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 16px;
}

.form-input {
    padding: 6px 10px;
    border: 1px solid #E7E7E7;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
    background-color: #f2f2f2;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.form-input:focus {
    outline: none;
    border-color: #4a90e2;
    background-color: #fff;
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 31px;
}

.radio-option {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.radio-input {
    appearance: none;
    width: 8px;
    height: 8px;
    border: 1.5px solid #000;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.radio-input:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background-color: #000;
    border-radius: 50%;
}

.radio-label {
    font-size: 12px;
    font-weight: 300;
    cursor: pointer;
    min-width: 150px;
}

.submit-button {
    padding: 2px 16px 4px 16px;
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    font-weight: 400;
    border-radius: 35px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    line-height: 1.3em;
    background-color: #F9BD00;
    color: #fff;
    border: 1px solid #F9BD00;
    display: block;
    margin: 0 auto;
}

.submit-button:hover {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

/* success page */
.cart-message {
    display: none;
    text-align: center;
    max-width: 470px;
    margin: 0 auto;
    flex-direction: column;
}

.cart-message.show {
    display: flex;
}

.success-icon {
    width: 107px;
    height: 107px;
    background-color: #F9BD00;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem auto 0 auto;
}

.success-icon::after {
    content: '✓';
    color: white;
    font-size: 4.5rem;
    font-weight: bolder;
}

.error-message {
    background: #f8d7da;
    color: #721c24;
    padding: 1rem;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    margin-bottom: 1rem;
    text-align: center;
    display: none;
}

/* === MOBILE STYLES === */
@media (max-width: 1200px) {
    .main-navigation {
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
    }

    h2.about-section-title {
        line-height: 1.25em;
    }

    .slide-text-content p {
        font-size: 22px;
    }

    .slide-image-content img {
        width: 100%;
    }

    .footer-container {
        justify-content: space-around;
    }

    .footer-column {
        flex: unset;
    }

    .delivery-page {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 1000px) {
    .hero-content {
        gap: 60px;
    }

    .slide-text-content p {
        font-size: 20px;
    }

    .footer-container {
        flex-wrap: nowrap;
        gap:15px;
    }

    .product-page {
        padding: 0 20px;
    }

    .product-image-gallery {
        border: none;
    }
}

@media (max-width: 800px) {

    body {
        padding-top: 102px;
        width: auto;
    }

    body.home,
    body.home:has(> header.site-header.scrolled){
        padding-top: 0;
    }

    .container {
        padding: 0 20px;
        border: none;
    }

    .mob {
        display: initial;
    }

    .desktop {
        display: none;
    }

    /* --- Header Mobile --- */
    .site-header {
        padding-bottom: 0;
        background-color: rgba(0, 0, 0, 0.9);
        height: 102px;
        overflow: visible;
    }

    .home .site-header {
        background-color: transparent;
    }

    .home .site-header.scrolled {
        background-color: initial;
        box-shadow: none;
    }

    .site-header .container,
    .site-header.scrolled .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 28px;
        padding-left: 20px;
        padding-bottom: 4px;
        height: 70px;
    }

    .logo {
        width: 180px;
        height: auto;
        margin-bottom: 0;
    }

    .site-header.scrolled .logo {
        opacity: 1;
        height: auto;
        margin-bottom: initial;
        transform: none;
        pointer-events: auto;
    }

    .logo img {
        width: 100%;
        height: auto;
    }

    .burger-menu {
        display: block;
    }

    .navigation-wrapper {
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.95);
        padding: 20px 0;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    .navigation-wrapper.open {
        display: block;
        top: 0;
        position: fixed;
        height: 100vh;
        box-sizing: border-box;
    }

    .main-navigation {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: 45px;
        width: 100%;
    }

    .main-navigation ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 0;
    }
    .main-navigation li {
        width: 100%;
        text-align: left;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding: 10px 0;
    }
    .main-navigation li:last-child {
        border-bottom: none;
    }

    .main-navigation a {
        width: 100%;
        box-sizing: border-box;
        font-size: 24px;
        font-weight: 600;
    }
    .main-navigation .shopping-cart {
        display: inline;
    }
    .main-navigation .shopping-cart img {
        margin: 0 auto;
    }

    .burger-menu.active .burger-line:nth-child(1) {
        transform: translateY(16px) rotate(45deg);
    }
    .burger-menu.active .burger-line:nth-child(2) {
        opacity: 0;
    }
    .burger-menu.active .burger-line:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    main {
        background-position-y: -167px;
    }

    /* --- Hero Mobile --- */
    .hero-section {
        padding-top: 130px;
        padding-bottom: 60px;
        min-height: auto;
        align-items: center;
        top: 0;
    }

    .hero-content {
        flex-direction: column;
        align-items: center;
        gap: 0;
        left: 0;
        text-align: center;
        width: 100%;
    }
    .hero-image {
        max-width: 55%;
    }
    .hero-image img {
        max-width: 100%;
        height: auto;
    }
    .hero-text {
        margin-bottom: 0;
        max-width: 90%;
    }
    .hero-text h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .hero-text .button {
        font-size: 24px;
        padding: 10px 18px;
        width: auto;
        height: auto;
    }

    /* --- About Slider Mobile --- */
    .about-section {
        padding: 60px 0 20px 0;
        min-height: auto;
    }
    h2.about-section-title {
        font-size: 24px;
        margin-bottom: 20px;
        text-align: left;
    }
    .about-slider-container {
        max-width: 100%;
    }
    .about-slider {
        margin: 0;
    }

    .slider-wrapper {
        margin-left: 0;
    }

    .slide-item {
        flex-direction: column;
        padding: 0 51px;
        align-items: flex-start;
        gap: 0;
    }
    .slide-text-content {
        flex-basis: 100%;
    }

    .slide-image-content {
        display: none;
    }
    .slider-button {
        width: 30px;
        height: 30px;
        background-size: contain;
        transform: none;
    }
    .slider-button.prev {
        left: 20px;
    }
    .slider-button.next {
        right: 20px;
        transform: translateX(50%);
    }

    /* --- delivery --- */
    .text-content-section {
        margin-top: 7px;
    }
    .section-title {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .payment-methods-grid {
        margin-top: 0;
    }

    .payment-methods-grid .payment-method-item {
        padding: 20px 15px 15px 15px;
        text-align: left;
        align-content: start;
    }
    .payment-methods-grid .payment-method-item:nth-child(2n+1) {
        padding-right: 15px;
    }
    .payment-methods-grid .payment-method-item:nth-child(2n+1) .payment-method-icon {
        margin-bottom: 15px;
    }
    .payment-method-icon img {
        height: 44px;
        width: auto;
    }
    .payment-method-icon img[alt*="Google Pay"] {
        height: 43px;
        width: auto;
    }
    .payment-method-icon img[alt*="Apple Pay"] {
        height: 45px;
        width: auto;
    }
    .payment-method-icon img[src*="credit_card.png"] {
        height: 39px;
    }

    .payment-method-title {
        font-size: 24px;
        line-height: 1.35em;
        margin-bottom: 20px;
    }
    .payment-method-description {
        font-size: 20px;
    }

    .delivery-info p,
    .help-section p,
    .help-question {
        font-size: 20px;
    }

    .delivery-section {
        padding-bottom: 50px;
    }

    .delivery-info {
        margin-top: 40px;
    }

    .help-section {
        margin-top: 25px;
        padding-bottom: 30px;
    }


    /* --- Footer Mobile --- */
    .site-footer {
        padding-top: 31px;
    }

    .footer-container {
        flex-wrap: wrap;
        gap: 36px 20px;
        justify-content: flex-start;
    }
    .footer-column {
        flex-basis: calc(50% - 15px);
        min-width: auto;
    }
    .order-1 {
        order: 1;
    }
    .order-2 {
        order: 2;
    }
    .order-3 {
        order: 3;
    }
    .order-4 {
        order: 4;
    }
    .phone-note {
        font-size: 9px;
    }

    .footer-bottom {
        flex-direction: row-reverse;
        align-items: center;
        text-align: center;
        gap: 20px;
        border-top: 1px solid #ffffff;
        padding-top: 25px;
    }
    .payment-icons {
        order: 1;
        gap: 20px;
    }
    .footer-bottom p {
        order: 0;
    }

    /* === product pages === */
    .page-nav {
        padding-top: 8px;
        margin-bottom: 28px;
    }

    .page-nav li {
        font-size: 12px;
    }

    .product-main-info {
        margin-bottom: 13px;
    }

    .product-image-gallery {
        flex: none;
        width: 100%;
        max-width: 100%;
        border-right: none;
        text-align: center;
    }

    .product-image-gallery img {
        width: 51vw;
        max-width: 51vw;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .product-title {
        font-size: 24px;
        margin-bottom: 18px;
    }

    .product-price-actions {
        padding-top: 19px;
        padding-bottom: 19px;
        padding-right: 0;
        margin-bottom: 23px;
    }

    .product-characteristics h2 {
        margin-bottom: 32px;
    }

    ul.characteristics-dots {
        column-gap: 0;
    }

    ul.characteristics-dots li {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 15px;
    }

    ul.characteristics-list {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
    }

    ul.characteristics-list li:nth-child(-n+6) {
        border: none;
    }

    ul.characteristics-list li:nth-child(7) {
        padding-top: 15px;
    }

    ul.characteristics-list li:last-child {
        border-bottom: 1px solid rgba(204, 204, 204, 0.6);
    }

    .product-description h2 {
        font-size: 24px;
        margin-bottom: 23px;
    }

    .about-page .page-nav {
        margin-bottom: 8px;
    }

    .about-page .section-title {
        margin-bottom: 34px;
        padding: 0 20px;
    }

    .about-hero-section {
        padding: 13px 0 0 0;
        background-position: center;
    }
    .about-hero-content {
        flex-direction: column;
        text-align: center;
    }
    .about-hero-text {
        order: 2;
        flex-basis: auto;
        width: 100%;
        padding-right: 0;
        margin-bottom: 25px;
    }

    .about-hero-text p {
        font-size: 20px;
        text-align: left;
        margin-top: 28px;
    }

    .about-hero-content .slider-wrapper {
        flex-basis: auto;
        width: 80%;
        margin: 0 auto;
    }

    .about-hero-content .slide-image-content {
        display: block;
        max-width: 37%;
    }

    .about-hero-content .slider-button {
        width: 13px;
        height: 38px;
    }

    .about-hero-content .slider-button.prev {
        background: url("../img/prev-black.png") no-repeat;
    }
    .about-hero-content .slider-button.next {
        background: url("../img/next-black.png") no-repeat;
    }

    .about-page .about-values-section {
        margin-top: 16px;
        padding: 0;
    }

    .about-values-section h2,
    .about-values-section h3,
    .about-values-section p {
        text-align: left;
        line-height: 1.35em;
    }

    .value-item h3 {
        font-size: 24px;
        margin-bottom: 13px;
    }

    .value-item p {
        font-size: 20px;
        margin-top: 0;
    }

    .value-item,
    .value-item.layout-reversed {
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 24px;
        row-gap: 10px;

    }
    .value-item .value-text,
    .value-item.layout-reversed .value-text {
        order: 1;
        padding-left: 20px;
        padding-right: 20px;
    }
    .value-item .value-image,
    .value-item.layout-reversed .value-image {
        order: 2;
        margin-top: 0;
    }

    .value-item:last-child {
        padding-bottom: 0;
    }

    /* section 3: Contacts */
    .contact-section {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 33px;
    }
    .contact-section .section-title {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .shopping-cart-container {
        border-bottom: none;
        padding-bottom: 5px;
    }

    .shopping-cart-details {
        width: 100%;
        flex-direction: column;
    }

    .shopping-cart .text-content-section {
        margin-top: 0;
    }

    .shopping-cart h1 {
        margin-bottom: 23px;
    }

    .shopping-cart-container h2 {
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 10px;
        text-align: center;
    }

    .product-image-container {
        margin: 0 auto;
        position: relative;
    }

    .shopping-cart-details #delete-product {
        top: 5px;
    }

    .shopping-cart-details .product-price-actions {
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .shopping-actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 0;
        margin-top: 5px;
    }

    .shopping-actions button {
        min-width: 235px;
        text-align: center;
        height: auto;
        padding-left: 0;
        padding-right: 0;
    }

    .total-price p {
        font-size: 20px;
        line-height: 2.5em;
        min-width: 235px;
        display: inline-flex;
        justify-content: space-between;
    }

    /* order details */
    .order-form-container {
        margin-top: 1rem;
        padding: 1.5rem;
    }

    .form-row {
        grid-template-columns: 1fr;
        gap: 1.25rem;
    }

    .form-section h2 {
        font-size: 24px;
    }

    .form-label {
        font-size: 14px;
        padding-left: 15px;
        margin-bottom: 12px;
    }

    .radio-group {
        gap: 0.5rem;
    }

    .radio-input {
        width: 13px;
        height: 13px;
    }

    .radio-input:checked::after {
        width: 12px;
        height: 12px;
    }

    .form-section:nth-child(2) {
        display: flex;
        flex-direction: column;
    }

    .form-section:nth-child(2) .form-row.m-less .form-group:nth-child(1) {
        order: 1;
    }

    .form-section:nth-child(2) .form-row:nth-child(3) .form-group:nth-child(1) {
        order: 2;
    }

    .form-section:nth-child(2) .form-row:nth-child(3) .form-group:nth-child(2) {
        order: 3;
        margin-bottom: 0;
    }

    .form-section:nth-child(2) .form-row.m-less .form-group:nth-child(2) {
        order: 4;
    }

    .form-section:nth-child(2) .form-group {
        margin-bottom: 1.25rem;
        width: 100%;
    }

    .form-section:nth-child(2) .form-row {
        display: contents;
    }

    .success-page {
        padding: 1.5rem;
    }

    .cart-message h2 {
        font-size: 24px;
        margin-bottom: 2rem;
    }

    .cart-message p {
        font-size: 20px;
    }

    .success-icon {
        width: 64px;
        height: 64px;
        margin-top: 1.5rem;
    }

    .success-icon::after {
        font-size: 3rem;
    }

    .error-message {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .contact-details-grid {
        gap: 25px;
        justify-content: space-between;
        max-width: 100%;
    }

    .shopping-cart-container h2 {
        text-align: left;
    }
}